*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: sans-serif; 
  font-weight: 500;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.neon-social-media{
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  font-size: 50px;
  display: flex;
  overflow: hidden;
  animation: neon 4s ease-in-out infinite;
}

.fa-instagram,.fa-facebook,.fa-telegram,.fa-youtube,.fa-github,.fa-js{
  margin: 100px;
  border-radius: 40px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.4s ease-in-out;
  color: #fff;
}

.fa-instagram:nth-child(2):hover{
  box-shadow: 0 0 5px rgb(30, 144, 255), 
  0 0 25px rgb(30, 144, 255), 
  0 0 50px rgb(30, 144, 255), 
  0 0 200px rgb(30, 144, 255), 
  0 0 500px rgb(30, 144, 255); 
  width: 80px;
  height: 80px;
  padding: 5px;
  padding-left: 19px;
  border-radius: 50%;
  padding-top: 15px;
  transition: all 0.4s ease-in-out;
}

.fa-github:nth-child(4):hover{
  box-shadow: 0 0 5px rgb(30, 144, 255), 
  0 0 25px rgb(30, 144, 255), 
  0 0 50px rgb(30, 144, 255), 
  0 0 200px rgb(30, 144, 255), 
  0 0 500px rgb(30, 144, 255), 
  0 0 1000px rgb(30, 144, 255); 
  width: 80px;
  height: 80px;
  padding: 5px;
  padding-left: 19px;
  border-radius: 50%;
  padding-top: 15px;
  transition: all 0.2s ease-in-out;
}

@keyframes neon {
  50%{
    opacity: 1;
    filter: hue-rotate(300deg);
  }
}